# Ignorar archivos de base de datos
db.sqlite3

# Ignorar archivos compilados de Python
*.pyc
__pycache__/

# Ignorar migraciones de Django
*/migrations/

# Ignorar entornos virtuales
env/
venv/

# Ignorar archivos de configuración de IDEs
.vscode/
.idea/

# Ignorar archivos de logs
*.log

# Ignorar archivos de configuración locales
*.env
